[filecache]
cachesecond=600
singlefileallowmb=64
maxcapmb=256

[listen]
readtimeout=0
writetimeout=0
enablehttps=false
httpscertfile=
httpskeyfile=
graceful=false
address=0.0.0.0:8080

[session]
gcmaxlifetime=3600
cookielifetime=3600
enablesetcookie=true
domain=
enable=false
cookiename=lessgosessionID
provider=memory
providerconfig={"cookieName":"gosessionid", "enableSetCookie,omitempty": true, "gclifetime":3600, "maxLifetime": 3600, "secure": false, "sessionIDHashFunc": "sha1", "sessionIDHashKey": "", "cookieLifeTime": 3600, "providerConfig": ""}

[log]
level=debug
asyncchan=1000

[system]
casesensitive=false
maxmemorymb=64
appname=lessgo
debug=true

